*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive, sans-serif;
    
}
body{
    background: #05D4E3;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.cont{
    
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 0;
    transform-style: preserve-3d;

}
.box{
    background: #05D4E3;
    position: relative;
    width: 700px;
    height: 500px;
    margin: 70px 0;
    background: #000;
    transform-style: preserve-3d;

}
.box:hover{
    box-shadow: 0 40px 100px rgb(214, 13, 13);
}
.imgBx{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.contBx{
    position: absolute;
    top: 50%;
    left: 50px;
    right: 50px;
    background: #fff;
    transform: translateZ(20px)scaleY(0);
    padding: 40px 25px;
    transform-origin: top;
    transition: 0.5s;
    transform-style: preserve-3d;

}
.contBx h2,p{
    display: flex;
    justify-content: center;

    
}
.cont .box:hover .contBx{
    border-radius: 12px;
    transform: translateZ(20px) scaleY(1);
}
